@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  @apply overflow-hidden transition-colors duration-300 ease-in-out;
} */

/* dark mode */

@layer base {
  /* :root {
    --color-primaryTextColor: 30 41 59;
    --color-activeText: 203 213 225;
    --color-activeBkg: 71 85 105;
    --color-accentColor1: 124 58 237;
    --color-accentColor2: 167 139 250;
    @apply bg-[linear-gradient(to_right_bottom,#cbd5e1c5,#94a3b8d1),url("./data/background.jpg")] bg-cover;
  } */

  :root {
    @apply overflow-hidden transition-all duration-1000 ease-in-out;
  }
  :root[class="dark"] {
    --color-primaryTextColor: 203 213 225;
    --color-activeText: 203 213 225;
    --color-activeBkg: 51 65 85;
    --color-accentColor1: 124 58 237;
    --color-accentColor2: 167 139 250;
    @apply bg-[linear-gradient(to_right_bottom,rgba(30,41,59,0.95),rgba(15,23,42,0.95)),url("./data/background.jpg")] bg-cover;
    /* @apply bg-slate-900/50; */
  }
  :root[class="light"] {
    --color-primaryTextColor: 30 41 59;
    --color-activeText: 203 213 225;
    --color-activeBkg: 71 85 105;
    --color-accentColor1: 124 58 237;
    --color-accentColor2: 167 139 250;
    @apply bg-[linear-gradient(to_right_bottom,#cbd5e1c5,#94a3b8d1),url("./data/background.jpg")] bg-cover;

    /* @apply bg-slate-400/50; */
  }
  @media ((prefers-color-scheme: dark)) {
    :root {
      --color-primaryTextColor: 203 213 225;
      --color-activeText: 203 213 225;
      --color-activeBkg: 51 65 85;
      --color-accentColor1: 124 58 237;
      --color-accentColor2: 167 139 250;
      @apply bg-[linear-gradient(to_right_bottom,rgba(30,41,59,0.95),rgba(15,23,42,0.95)),url("./data/background.jpg")] bg-cover;

      /* @apply bg-slate-900/50; */
    }
  }
}

/* FullCalendar */
:root {
  --fc-border-color: rgb(71 85 105);
}

.fc .fc-toolbar-title {
  @apply text-violet-400;
}

.fc-theme-standard td {
  @apply border-slate-600;
}
.fc-list-sticky {
  @apply border-slate-600;
}

/* scrollbar*/

body {
  scrollbar-width: thin;
  scrollbar-color: #475569 #0f172a;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
